<div class="column">
  <section >
    <form action="/peep" method="post">
      <div class="">
        <textarea class="u-full-width" name="content" rows="12" cols="50" placeholder="What are you doing?!!"></textarea>
      </div>
      <input class="button-primary u-pull-right" type="submit" value="Peep">
    </form>
  </section>
</div>
<div class="column peep-container">
  <% if @peeps%>
    <% for peep in @peeps%>
      <div class="peep">
        <p class="left"><%= peep.content %></p>
      </div>
    <% end %>
  <% end %>
</div>
