<h1 align="center">Welcome To Chitter!</h1>

<section >
  <form action="/peep" method="post">
      <label for="content">What are you doing? </label>
      <textarea name="content" rows="12" cols="50"></textarea>
      <br>
      <input type="submit" value="Peep">

  </form>
</section>

<section>
  <% if @peeps%>
  <div class="">
    <% for peep in @peeps%>
    <div class="">
      <%= peep.content %>
    </div>
    <% end %>
  </div>
  <% end %>
</section>
